language: android
dist: precise

jdk:
  - oraclejdk8

android:
  components:
    -tools
    -tools
    -platform-tools
    -build-tools-26.0.2
    -android-26
    -extra

script:
  - ./gradlew build connectedCheck